# Terraform local state
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Terraform secrets and override files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
*.tfplan

# Crash logs
crash.log
crash.*.log

# AWS credentials and keys
*.pem
.aws/

# Arquivos grandes e binários não versionáveis
*.zip
*.jar
*.bak
*.log

# IDE/Editor configs
.idea/
.vscode/

# Outros
*.rst
